
h1, a {
    font-family: Poppins, sans-serif;
}

p, span, h2, h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
}

.session {
    padding: 75px;


    .titleSession {
        height: 80px;
        text-align: center;
        font-size: 36px;
        text-transform: uppercase;
    }
    
    .caption {
        padding-bottom: 60px;
        text-align: center;
        font-size: 16px;
    }
    
}

.topo{
    padding: 20px;
    background: #41a2ef;

}

.logo img{
    height: 50px;
}

.menu{
    text-align: right;
    
    .active{
        opacity: 1;
        
    }
}

.menu ul li{
    display: inline;
    list-style: none;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #ffffff;
    opacity: 0.7;
    transition: all 0.3s;
    margin-left: 20px;
}

.menu ul li:hover{
    cursor: pointer;
    opacity: 1;
}

.banner {
    padding: 20px 0 75px 0;
    background: #41a2ef;
    
    h1 {
        font-size: 64px;
        line-height: 74px;
        font-weight: 700;
        color: #ffffff;
    }
    
    p {
        color: #ffffff;
    }
    
    a {
        transition: 0.3s;
        display: inline-block;
        width: 200px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: #ffffff;
        font-weight: 700;
        border: 2px solid #ffffff;
        border-radius: 3px;
    }
    
    a:hover {
        text-decoration: none;
        color: #41a2ef;
        background: #ffffff;
    }
    
    .icon {padding-right: 10px;}
    
 
    p span {
        font-size: 32px;
    }
    
    img {
        height: 500px;
    }
    
    
    .spaceTop {
        align-items: center;
//        background: blue;
    }
}

.st0{fill:red;}
.st1{fill:#FFFFFF;}

.spaceLeft{
    margin-left: 10px;
}

.depoimentos {
    background: #eeeeee;
    text-align: center;
}

.depoimentos p{
    color: #606060;
}

.depoimentos h2{
    color: #606060;
    font-size: 24px;
}


.features {

    .icon {
        color:#41a2ef;
    }
    
    h2 { font-size: 21px;}
    
    p{
        font-size: 16px;
        color: #606060;
    }
    
    .feature {
        padding-bottom: 75px;
    }
    
    .d-block {
        padding: 20px 40px;
    }
}

.slide {
        padding-bottom: 40px;
    }

.description img {
    width: 100%; 
    height: auto;
}

.description, .news {
    background-color: #eeeeee;
    
    h2{ 
        font-weight: 500;
        font-size: 22px;
        padding-bottom: 20px;
    }
    
    p{
        font-size: 16px;
    }
    
    
    ul li{
        list-style: none;
    }
    
}

.video{
    text-align: center;
    background: #36b57c;
    
    p{
        padding-top: 20px;
        text-align: center;
//        width: 945px;
        color: #ffffff;
        font-size: 16px;
    }
}

.description, .aboutUs, .news, .contact {
    a {
        transition: 0.3s;
        display: inline-block;
        width: 200px;
        height: 50px;
        background: #36b57c;
        line-height: 50px;
        text-align: center;
        color: #ffffff;
        font-weight: 700;
        border-radius: 3px;
    }
    
    a:hover {
        text-decoration: none;
        background: #41a2ef;
    }
}

.aboutUs{
    text-align: center;
    
    p{
        padding: 40px
//        width: 945px;
    }
    
    .image {
        width: 945px;
    }
    
    img{
        width: 250px;
    }
    
    h2 {
        font-size: 22px;
        font-weight: 600;
        padding: 60px 0 30px 0;
    }
    
    h3 {
        padding-top: 20px;
        font-size: 20px;
        font-weight: 600;
    }
    
    p {font-size: 16px;}
}

.news{
    text-align: center;
    
    p{
        padding-bottom: 20px;
    }

}

.input{
        margin-right: 20px;
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid black;
    }

.textarea{
    width: 555px;
    margin: 20px 0;
}

.team {
    text-align: center;
    color: #ffffff;
    background: #41a2ef;
    
    img{
        margin-bottom: 20px;
    }
    
    h2, h3 {
      
        font-size: 16px;
    }
    
    h3{
        text-transform: uppercase;
    }
    
}

.social {
    padding: 20px;
    background: #36b57c;
    
    .fa{
        margin-right: 20px;
        cursor: pointer;
        color: #ffffff;
        transition: all 0.3s;
        opacity: 0.8;
    }
    
    .fa:hover{
        opacity: 1;
    }
    
    .content{
        min-width: 100%;
        text-align: center;
    }
}

.contact{
    text-align: center;
    
    p{
        margin-top: 40px;
        font-size: 16px;
    }
    
    ul li{
        list-style: none;
        display: inline;
        margin-right: 20px;
    }
}

.copyR{
    text-align: center;
    color: #ffffff;
    background-color: #41a2ef;
    padding: 20px 0 5px 0;
    p{font-size: 14px;}
}


@media screen and (max-width: 992px) {
    .menu ul {display: none;}
    
    .banner{text-align: center;}
    .banner img {padding-bottom: 20px;}
    .banner h1 {
        font-size: 48px;
        line-height: 58px;
    }
    
        .features{
        
        .icon {
            padding: 15px;
        }
        
        .feature {
            text-align: center;
            padding-bottom: 35px;
        }
            

    }
    
    .description {
        text-align: center;
        
        img {
            padding: 35px;
        }
    }
    
}//fim 992

@media screen and (max-width: 576px) {
    .banner img {
        width: 70%;
        height: auto;
    }
    
        .banner h1 {
        font-size: 42px;
        line-height: 52px;
    } 
    
    .banner a{
        margin: 20px 0;
    }
    
    .session{
       padding:40px 10px;
    }
    
}//fim 576









